{% extends 'app1/layout/base.html' %}
{% load static %}
{% block body_block %}

        <section class="tm-section">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        {% if blog %}
                        <div class="tm-blog-post">
                            <h3 class="tm-gold-text">{{blog_f.title }}</h3>
                           
                            <img src="/media/{{ blog_f.image }}" alt="Image" class="img-fluid tm-img-post" style="margin-top: 20px;">
                            
                            <p>{{ blog_f.text}}</p>
                        </div>
                        
                        <div class="row tm-margin-t-big">
                            {% if blog %}

                            {% for data in blog %}
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="tm-content-box">
                                    <img src="/media/{{ data.image }}" alt="Image" class="tm-margin-b-30 img-fluid" style="margin-top: 30px;">
                                    <h4 class="tm-margin-b-20 tm-gold-text">{{data.title }}</h4>
                                    <p class="tm-margin-b-20">{{data.post }}</p>
                                    <a href="{% url 'blog_details' blog_id=data.id %}" class="tm-btn text-uppercase">Detail</a>  
                                </div>  
                            </div>
                            {% endfor %}
                            {% endif %}

                            
                        </div>
                        
                    </div>

                    <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">

                        <div class="tm-aside-container">
                            <h3 class="tm-gold-text tm-title">
                                Blogs
                            </h3>
                            <nav>
                                <ul class="nav">
                                    {% for data in blog %}
                                    <li><a href="#" class="tm-text-link">{{ data.title}}</a></li>
                                  {% endfor %}
                                </ul>
                            </nav>
                            <hr class="tm-margin-t-small">   
                        </div>
                        
                        
                    </aside>
                    {% endif %}
                </div>
                
            </div>
        </section>
 {% endblock %}